/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import 'variables'

.LoginPage
  display flex
  flex-basis 64vw
  align-items center
.LoginPage-container
  margin 0 auto
  padding 40px
  align-self center


.LoginPage
  .form-container
    flex-container column
  .form-field
    display block
    margin-bottom 20px
  .form-loading
    flex 1
    align-self center

  .login-password
    margin-bottom 40px

  .link-register
    margin-top 20px
    text-decoration none
    font-weight lighter

