extends layout

block meta
  link(rel="manifest", href="/manifest.json")

block styles
  style#css(type='text/css') #{css}
  //- Todo... compile this with project
  link(
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  )
block scripts
  script(type='text/javascript', src='/website/app.js')

block content
  #app!= body
