@import 'variables'

.Footer
	fixed bottom left right
	background-color #DADADA
	color #333
	left sidebar_width

.Footer-container
	margin 0 auto
	padding 20px 15px
	text-align center

.Footer-text--muted
	opacity 0.6

.Footer-spacer
	opacity 1

.Footer-text,
.Footer-link
	padding 2px 5px
	font-size 1em

.Footer-link,
.Footer-link:active,
.Footer-link:visited
	color color_purple
	text-decoration none

.Footer-link
	&:hover
		color color_blue